* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

button,
textarea,
input {
    outline: none;
    border: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

// loading here

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease-in-out;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
